.UserPageWrapper {
	display: flex;
}

.UserLessonLinks {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}


.SideBar{
	font-family: Montserrat, sans-serif;
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
	width: 17%;
	height: 100vh;
	background: white;
	margin-left: 20px;
	box-shadow:0 0 9px #ccc;
}

.SideBarHeader {
	display: block;
	width: 75%;
	margin:12% 0 0 12%;
	padding-bottom: 3px;
	border-bottom: 2px solid #eee;
}

.SideBar a{
	display: block;
	padding: 14px 0 14px 0;
	width: 180px;
    margin: 12px auto 12px auto;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    background: white;
    box-shadow: 1px 1px 1px #eee;
    border: 1px solid #eee;
    color: black;
}
@media screen and (max-width: 640px) {
	.UserPageWrapper{
		display: block;
	}
	.UserLessonLinks {
		display: block;
		width: 100%;
	}

	.SideBar{
		display: block;
		height: auto;
		width: 90%;
		margin: auto;
		padding: 0 0 12px 0; 
	}

	.SideBarHeader {
		width: 75%;
		padding: 14px 0 14px 0;
		margin: 4px auto 18px auto;
		border-bottom: 2px solid #eee;
	}

}