.PlayerBoard {
	display: block;
}

.GameRoomCode{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	display: block;
	float: right;
	background: #ccc;
	color: white;
	padding: 7px;
	margin-left: 3%;
}

button.GameBackButton{
	display: none;
}

.TeamWrapper{
	display: block;
	width: 100%;
}

.TeamName {
	display: block;
	font-family: Roboto, sans-serif;
	font-size: 23px;
	background: #ccc;
	padding: 8px 8px 8px 40px;
	width: 85px;

}