/*.QueryButtonWrapper{
    display: block;
    margin: auto;
    width: 50%;
}*/

.Lessons{
  display: block;
  margin: auto;
  width: 95%;
  background: white;
  padding: 2% 0 2% 0;
  box-shadow: 0px 0px 4px #ccc;
}

.QueryButtonWrapper a{
    display: block;
	  padding: 14px 0 14px 0;
	  width: 180px;
    margin: 12px auto 12px auto;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    background: white;
    box-shadow: 1px 1px 1px #eee;
    border: 1px solid #eee;
    color: black;
}

.ChangeQueryButton {
    display: block;
    width: 180px;
    height: 60px;
    margin: 12px auto 12px auto;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    background: white;
    box-shadow: 1px 1px 1px #eee;
    border: 1px solid #eee;
    color: black;
}

.ChangeQueryButton:hover{
  color: black;
  box-shadow: none;
}

.LessonLinks {
  display: inline-block;
  width: 50%;
  margin: 0 0 0 8%;
}

.LessonLinks h1{
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: lighter;
}

.QueryButtonWrapper{
  vertical-align: top;
  font-family: Montserrat, sans-serif;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 17%;
  height: 100vh;
  background: white;
  margin-left: 20px;
  box-shadow:0 0 9px #ccc;
}

.spinner {
  width: 40px;
  height: 50px;
  background: none;
  border-radius: 50%;
  position: relative;
  display: block;
  clear: both;
  margin: 30px auto 20px auto;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -15px;
  left: -15px;
  border: 15px solid transparent;
  opacity: .5;
  border-top-color: #23A6D5;
  border-bottom-color: #23A6D5;
  border-right-color: #23A6D5;
  -webkit-animation: spinny 1s linear infinite;
          animation: spinny 1s linear infinite;
}

.spinner-1:before {
  position: absolute;
  top: -15px;
  left: -15px;
  border: 15px solid transparent;
  opacity: .8;
  border-top-color: #FFF800;
  border-right-color: #FFF800;
  /*border-bottom-color: #FFF800;*/
  
  -webkit-animation: spinny 2s linear infinite reverse;
          animation: spinny 2s linear infinite reverse;
}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
 
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@media screen and (max-width: 640px) {

  .QueryButtonWrapper{
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    padding: 3%;
    border: none;
    box-shadow: none;
  }

  .ChangeQueryButton{
    display: block;
    width: 80%;
    height: 40px;
    margin: 6px auto 6px auto;
    font-size: 14px;
    box-shadow: none;
  }

  .LessonLinks {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 0;
  }
}