.color {
	color: #f18973;
}

.underline {
	text-decoration: underline;
}

.highlight {
	background-color: #d5f4e6;
}

.hide {
	/* display: none; */
}

.GradientBefore {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+4,ffffff+82&1+47,0.48+74,0+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 47%, rgba(255,255,255,0.48) 74%, rgba(255,255,255,0.33) 82%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 4%,rgba(255,255,255,1) 47%,rgba(255,255,255,0.48) 74%,rgba(255,255,255,0.33) 82%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 4%,rgba(255,255,255,1) 47%,rgba(255,255,255,0.48) 74%,rgba(255,255,255,0.33) 82%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.GradientAfter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+18,ffffff+96&0+0,0.48+26,1+53 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.33) 18%, rgba(255,255,255,0.48) 26%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.33) 18%,rgba(255,255,255,0.48) 26%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.33) 18%,rgba(255,255,255,0.48) 26%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )
}