.CreateFlex {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}

.CreatFlex h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
  	font-size: 56px;
}

.CreateLessonReading,
.CreateLessonExercise {
	font-family: Montserrat, sans-serif;
	padding: 5%;
	width: 400px;
	color: black;
  	border: 1px solid #eee;
	height: 45vh;
	background: white;
	border: 1px solid #eee;
	box-shadow: 2px 1px 2px #ccc;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.CreateFlex {
		display: block;
  		flex-direction: row;
  		justify-content: space-around;
	}
	.CreateLessonReading,
	.CreateLessonExercise {
		font-family: Montserrat, sans-serif;
		display: block;
		margin: 30px auto 15px auto;
		padding: 5%;
		width: 70%;
		color: black;
  		border: 1px solid #eee;
		height: 25vh;
		background: white;
		border: 1px solid #eee;
		box-shadow: 2px 1px 2px #ccc;
		text-align: center;
	}
}