.player {
	position: relative;
	display: inline-block;
	width: 18%;
	margin-left: 25px;
}

.player svg {
	display: block;
	stroke: white;
	transform: rotate(-90deg);
	animation: all 1s ease-in forward;

}

.player circle{
	display: block;
}

.name {
	position:absolute;
	top: 77px;
	left: 11%;
	font-family: Open Sans, sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
}

.score {
	position:absolute;
	margin-top: -85px;
	margin-left: 80px;
	font-family: Open Sans, sans-serif;
	font-size: 18px;
	text-align: center;
	color: #655;
}

@media screen and (max-width: 640px) {

	.player {
		display: block;
	}

}
