.LoggedUserName{
	margin-right: 2rem;
	margin-top: 11px;
	margin-bottom: 26px;
	display: block;
	font-weight: bold;
	color: white;
}

.UserPicture {
	position: absolute;
	right: 2rem;
	display: block;
	border-radius: 50%;
}

.UserDropDown {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 1.5rem;
	padding-right: 2.5rem;
	height: 3.5rem;
}
.DropDownContent{
	display: none;
	position: absolute;
	width: 7rem;
	padding: 2%;
	height: 5rem;
	right: 1rem;
	background: white;
	box-shadow: 0px 0px 8px #ccc;
	z-index: 1;
}
.DropDownContent div{
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-right: 0;
	width: 7rem;
	height: 1.6rem;
	margin: .1rem 0 0 .5rem;
	display: block;
	font-weight: lighter;
}

.UserDropDown:hover .DropDownContent{display: block;}
.DropDownContent div:hover {cursor: pointer; color: #eee; }

.LoggedUser:hover {
	cursor: pointer;
	color: grey;
}

.LoggedUserName:hover {
	color: black;
}

.UserDropdown li:hover{
	color: #ccc;
	cursor: pointer;
}

@media screen and (max-width: 640px) {
	.LoggedUserName {
		margin-right: -12px;
	}

	img.UserPicture{
		display: none;
		margin-top: 0;
		/*position: relative;*/
	}

	.LoggedUser {
		display: inline-block;
		float: right;	
	}

	svg.UserPicture{
		display: none;
	}
/*
	.UserDropdown {
		position: relative;
		right: 1rem;
		margin-top: 5em;
		width: 7rem;
		height: 5rem;
		display: block;
		background: white;
		box-shadow: 0px 0px 8px #ccc;
		margin-right: 2rem;
	margin-top: 11px;
	margin-bottom: 26px;
	display: block;
	font-weight: bold;
	color: white;
	}*/
/*
	.DropDownContent{
		width: 7rem;
		padding: 0;
		margin: 0;
		height: 5rem;
	}
		
	.DropDownContent div{
		margin: .1rem 0 0 5px;
		text-align: left;
	}*/
}